In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

Nous commençons par charger le dataset créé

In [2]:
df = pd.read_csv("result.csv")

In [3]:
df["AVGLES"]=df["AVGLES"].replace(np.nan, 0)
df["AVGCLES"]=df["AVGCLES"].replace(np.nan, 0)
df

,TYPE,ARRIVAL_TIME,SERVING_TIME,WAIT_TIME,WAVGC_LES,LES,AVGLES,AVGCLES,SERVEURS,Q0,...,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26
0,5,3801.0,152.0,1.0,-1.000000,0.0,0.0,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20,3877.0,311.0,1.0,-1.000000,0.0,0.0,0.00,1,0,...,0,0,0,0,0,0,0,0,0,0
2,5,4087.0,149.0,1.0,1.000000,1.0,1.0,1.00,2,0,...,0,0,0,0,0,0,0,0,0,0
3,5,4158.0,269.0,1.0,1.000000,1.0,1.0,1.00,5,0,...,0,0,0,0,0,0,0,0,0,0
4,5,4150.0,303.0,1.0,1.000000,1.0,1.0,1.00,4,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462939,5,46656.0,6.0,1.0,10.787741,50.0,5.9,3.21,2,0,...,0,0,0,0,0,0,0,0,0,0
1462940,2,46545.0,81.0,109.0,10.337674,1.0,69.4,4.06,5,0,...,0,0,0,0,0,0,0,0,0,0
1462941,2,46653.0,88.0,1.0,67.700640,1.0,69.4,32.04,2,0,...,0,0,0,0,0,0,0,0,0,0
1462942,20,46741.0,3.0,1.0,8.597853,38.0,4.7,4.09,2,0,...,0,0,0,0,0,0,0,0,0,0
1462943,5,46787.0,3.0,1.0,6.011323,1.0,5.9,3.22,2,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
type_counts = df['TYPE'].value_counts()
top_5_types = type_counts.nlargest(5).index
new_df = df[df['TYPE'].isin(top_5_types)].copy()

In [7]:
top_5_types

Int64Index([5, 20, 2, 11, 9], dtype='int64')

In [8]:
grouped_df = new_df.groupby("TYPE")
for group, subset_df in grouped_df:
    print(f"Dataframe pour le type {group}")
    print(subset_df)

Dataframe pour le type 2
         TYPE  ARRIVAL_TIME  SERVING_TIME  WAIT_TIME  WAVGC_LES  LES  AVGLES  \
5           2        4193.0         283.0        1.0   1.000000  1.0     1.0
6           2        4106.0         392.0        1.0   1.000000  1.0     1.0
8           2        3986.0         530.0        1.0  -1.000000  0.0     0.0
9           2        4416.0         118.0        1.0   1.000000  1.0     1.0
15          2        4683.0         191.0        1.0   1.000000  1.0     1.0
...       ...           ...           ...        ...        ...  ...     ...
1462926     2       44975.0          77.0        1.0  19.237645  1.0    95.5
1462931     2       45949.0         185.0        1.0  15.590116  1.0    95.5
1462932     2       46110.0          70.0        1.0  12.672093  1.0    95.5
1462940     2       46545.0          81.0      109.0  10.337674  1.0    69.4
1462941     2       46653.0          88.0        1.0  67.700640  1.0    69.4

         AVGCLES  SERVEURS  Q0  ...  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  \
5           1.00         5   0  ...    0    0    0    0    0    0    0    0
6           1.00         3   0  ...    0    0    0    0    0    0    0    0
8           0.00         1   0  ...    0    0    0    0    0    0    0    0
9           1.00         6   0  ...    0    0    0    0    0    0    0    0
15          1.00         3   0  ...    0    0    0    0    0    0    0    0
...          ...       ...  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
1462926     4.06         3   0  ...    0    0    0    0    0    0    0    0
1462931     4.06         1   0  ...    0    0    0    0    0    0    0    0
1462932     4.06         2   0  ...    0    0    0    0    0    0    0    0
1462940     4.06         5   0  ...    0    0    0    0    0    0    0    0
1462941    32.04         2   0  ...    0    0    0    0    0    0    0    0

         Q25  Q26
5          0    0
6          0    0
8          0    0
9          0    0
15         0    0
...      ...  ...
1462926    0    0
1462931    0    0
1462932    0    0
1462940    0    0
1462941    0    0

[266225 rows x 36 columns]
Dataframe pour le type 5
         TYPE  ARRIVAL_TIME  SERVING_TIME  WAIT_TIME  WAVGC_LES   LES  AVGLES  \
0           5        3801.0         152.0        1.0  -1.000000   0.0     0.0
2           5        4087.0         149.0        1.0   1.000000   1.0     1.0
3           5        4158.0         269.0        1.0   1.000000   1.0     1.0
4           5        4150.0         303.0        1.0   1.000000   1.0     1.0
10          5        4373.0         200.0        1.0   1.000000   1.0     1.0
...       ...           ...           ...        ...        ...   ...     ...
1462935     5       46243.0         396.0        1.0   0.970071   1.0     1.0
1462937     5       46328.0         324.0        1.0   0.976057   1.0     1.0
1462938     5       46423.0         230.0        1.0   0.980845   1.0     1.0
1462939     5       46656.0           6.0        1.0  10.787741  50.0     5.9
1462943     5       46787.0           3.0        1.0   6.011323   1.0     5.9

         AVGCLES  SERVEURS  Q0  ...  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  \
0           0.00         0   0  ...    0    0    0    0    0    0    0    0
2           1.00         2   0  ...    0    0    0    0    0    0    0    0
3           1.00         5   0  ...    0    0    0    0    0    0    0    0
4           1.00         4   0  ...    0    0    0    0    0    0    0    0
10          1.00         5   0  ...    0    0    0    0    0    0    0    0
...          ...       ...  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
1462935     2.72         1   0  ...    0    0    0    0    0    0    0    0
1462937     2.72         2   0  ...    0    0    0    0    0    0    0    0
1462938     2.72         3   0  ...    0    0    0    0    0    0    0    0
1462939     3.21         2   0  ...    0    0    0    0    0    0    0    0
1462943     3.22         2   0  ...    0    0    0    0    0    0    0    0

         Q25  Q26
0          0    0
2          0    0
3          0    0
4          0    0
10         0    0
...      ...  ...
1462935    0    0
1462937    0    0
1462938    0    0
1462939    0    0
1462943    0    0

[579917 rows x 36 columns]
Dataframe pour le type 9
         TYPE  ARRIVAL_TIME  SERVING_TIME  WAIT_TIME  WAVGC_LES  LES  AVGLES  \
20          9        4836.0         216.0        1.0  -1.000000  0.0     0.0
21          9        4982.0          90.0        1.0   1.000000  1.0     1.0
25          9        5078.0         157.0        1.0   1.000000  1.0     1.0
27          9        5288.0         108.0        1.0   1.000000  1.0     1.0
30          9        4934.0         509.0        1.0   1.000000  1.0     1.0
...       ...           ...           ...        ...        ...  ...     ...
1462840     9       39022.0          58.0        1.0   3.055070  1.0     3.5
1462841     9       38977.0         151.0        1.0   3.568838  1.0     3.5
1462852     9       39409.0         133.0        1.0   2.644056  1.0     3.5
1462858     9       39843.0           4.0        0.0   2.315245  1.0     3.5
1462875     9       40560.0         337.0        1.0   1.852196  0.0     3.4

         AVGCLES  SERVEURS  Q0  ...  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  \
20          0.00         6   0  ...    0    0    0    0    0    0    0    0
21          1.00         6   0  ...    0    0    0    0    0    0    0    0
25          1.00         5   0  ...    0    0    0    0    0    0    0    0
27          1.00         7   0  ...    0    0    0    0    0    0    0    0
30          1.00         7   0  ...    0    0    0    0    0    0    0    0
...          ...       ...  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
1462840     6.97         5   0  ...    0    0    0    0    0    0    0    0
1462841     6.97         4   0  ...    0    0    0    0    0    0    0    0
1462852     6.97         4   0  ...    0    0    0    0    0    0    0    0
1462858     6.97         2   0  ...    0    0    0    0    0    0    0    0
1462875     6.83         3   0  ...    0    0    0    0    0    0    0    0

         Q25  Q26
20         0    0
21         0    0
25         0    0
27         0    0
30         0    0
...      ...  ...
1462840    0    0
1462841    0    0
1462852    0    0
1462858    0    0
1462875    0    0

[64596 rows x 36 columns]
Dataframe pour le type 11
         TYPE  ARRIVAL_TIME  SERVING_TIME  WAIT_TIME  WAVGC_LES  LES  \
117        11        7335.0          12.0        1.0   1.000000  1.0
119        11        7318.0          55.0        1.0   1.000000  1.0
140        11        7262.0         331.0        1.0   1.000000  1.0
155        11        7405.0         304.0        0.0   1.000000  1.0
162        11        7548.0         210.0        1.0   0.918080  1.0
...       ...           ...           ...        ...        ...  ...
1462645    11       34733.0         383.0        1.0   0.950224  1.0
1462654    11       34931.0         297.0        1.0   0.974514  1.0
1462665    11       34407.0         925.0        1.0   0.922224  1.0
1462685    11       34818.0         693.0        1.0   0.968143  1.0
1462726    11       35386.0         647.0        1.0   0.979612  1.0

           AVGLES   AVGCLES  SERVEURS  Q0  ...  Q17  Q18  Q19  Q20  Q21  Q22  \
117      1.000000  1.000000        25   0  ...    0    0    0    0    0    0
119      1.000000  1.000000        22   0  ...    0    0    0    0    0    0
140      1.000000  1.000000        18   0  ...    0    0    0    0    0    0
155      1.000000  1.000000        23   0  ...    0    0    0    0    0    0
162      0.888889  0.888889        38   0  ...    0    0    0    0    0    0
...           ...       ...       ...  ..  ...  ...  ...  ...  ...  ...  ...
1462645  0.900000  4.500000        40   0  ...    0    0    0    0    0    0
1462654  0.900000  4.490000        37   0  ...    0    0    0    0    0    0
1462665  0.900000  4.560000        43   0  ...    0    0    0    0    0    0
1462685  0.900000  4.490000        37   0  ...    0    0    0    0    0    0
1462726  0.900000  4.500000        30   0  ...    0    0    0    0    0    0

         Q23  Q24  Q25  Q26
117        0    0    0    0
119        0    0    0    0
140        0    0    0    0
155        0    0    0    0
162        0    0    0    0
...      ...  ...  ...  ...
1462645    0    0    0    0
1462654    0    0    0    0
1462665    0    0    0    0
1462685    0    0    0    0
1462726    0    0    0    0

[148074 rows x 36 columns]
Dataframe pour le type 20
         TYPE  ARRIVAL_TIME  SERVING_TIME  WAIT_TIME  WAVGC_LES   LES  AVGLES  \
1          20        3877.0         311.0        1.0  -1.000000   0.0     0.0
7          20        4469.0          46.0        1.0   1.000000   1.0     1.0
14         20        4694.0         145.0        1.0   1.000000   1.0     1.0
22         20        4620.0         458.0        1.0   1.000000   1.0     1.0
31         20        5420.0         199.0        1.0   1.000000   1.0     1.0
...       ...           ...           ...        ...        ...   ...     ...
1462929    20       45729.0          77.0        1.0   1.483040   1.0     1.0
1462930    20       45763.0         151.0        1.0   1.386432   1.0     1.0
1462933    20       45938.0         549.0        1.0   1.309146   1.0     1.0
1462936    20       46454.0         158.0       38.0   1.247317   1.0     1.0
1462942    20       46741.0           3.0        1.0   8.597853  38.0     4.7

         AVGCLES  SERVEURS  Q0  ...  Q17  Q18  Q19  Q20  Q21  Q22  Q23  Q24  \
1           0.00         1   0  ...    0    0    0    0    0    0    0    0
7           1.00         5   0  ...    0    0    0    0    0    0    0    0
14          1.00         4   0  ...    0    0    0    0    0    0    0    0
22          1.00         2   0  ...    0    0    0    0    0    0    0    0
31          1.00         7   0  ...    0    0    0    0    0    0    0    0
...          ...       ...  ..  ...  ...  ...  ...  ...  ...  ...  ...  ...
1462929     3.72         0   0  ...    0    0    0    0    0    0    0    0
1462930     3.72         1   0  ...    0    0    0    0    0    0    0    0
1462933     3.72         0   0  ...    0    0    0    0    0    0    0    0
1462936     3.72         4   0  ...    0    0    0    0    0    0    0    0
1462942     4.09         2   0  ...    0    0    0    0    0    0    0    0

         Q25  Q26
1          0    0
7          0    0
14         0    0
22         0    0
31         0    0
...      ...  ...
1462929    0    0
1462930    0    0
1462933    0    0
1462936    0    0
1462942    0    0

[312736 rows x 36 columns]

### Creation des ANN pour chaque type

Nous commençons par créer un dataframe pour chacun des 5 services, on le convertit en numpy array, on normalise les données et on sépare les données en train et test

In [9]:
X1,y1 = df[df['TYPE']==top_5_types[0]].copy().drop(columns=["WAIT_TIME","TYPE"]).to_numpy(),df[df['TYPE']==top_5_types[0]].copy()["WAIT_TIME"].to_numpy()
X2,y2 = df[df['TYPE']==top_5_types[1]].copy().drop(columns=["WAIT_TIME","TYPE"]).to_numpy(),df[df['TYPE']==top_5_types[1]].copy()["WAIT_TIME"].to_numpy()
X3,y3 = df[df['TYPE']==top_5_types[2]].copy().drop(columns=["WAIT_TIME","TYPE"]).to_numpy(),df[df['TYPE']==top_5_types[2]].copy()["WAIT_TIME"].to_numpy()
X4,y4 = df[df['TYPE']==top_5_types[3]].copy().drop(columns=["WAIT_TIME","TYPE"]).to_numpy(),df[df['TYPE']==top_5_types[3]].copy()["WAIT_TIME"].to_numpy()
X5,y5 = df[df['TYPE']==top_5_types[4]].copy().drop(columns=["WAIT_TIME","TYPE"]).to_numpy(),df[df['TYPE']==top_5_types[4]].copy()["WAIT_TIME"].to_numpy()

In [10]:
sc = StandardScaler()
X1 = sc.fit_transform(X1)
X2 = sc.fit_transform(X2)
X3 = sc.fit_transform(X3)
X4 = sc.fit_transform(X4)
X5 = sc.fit_transform(X5)

In [11]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1,y1,test_size=0.2,random_state=42)
X2_train, X2_test, y2_train, y2_test = train_test_split(X2,y2,test_size=0.2,random_state=42)
X3_train, X3_test, y3_train, y3_test = train_test_split(X3,y3,test_size=0.2,random_state=42)
X4_train, X4_test, y4_train, y4_test = train_test_split(X4,y4,test_size=0.2,random_state=42)
X5_train, X5_test, y5_train, y5_test = train_test_split(X5,y5,test_size=0.2,random_state=42)

Nous allons créer un l'architecture de l'ANN, entraîner et evaluer un modèle pour chaque service

**Type 5**

In [12]:
ann = Sequential([
    Dense(units=32,activation="relu",kernel_initializer="normal"),
    Dense(units=16,activation="relu",kernel_initializer="normal"),
    Dense(units=8,activation="relu",kernel_initializer="normal"),
    Dense(units=1,activation="linear")
])

adam = tf.keras.optimizers.Adam(learning_rate=0.01)

ann.compile(optimizer=adam,loss="mean_squared_error", metrics="mse")

In [13]:
ann.fit(X1_train,y1_train,batch_size=32,epochs=20)

Epoch 1/20
14498/14498 [==============================] - 48s 3ms/step - loss: 772.9396 - mse: 772.9396
Epoch 2/20
14498/14498 [==============================] - 40s 3ms/step - loss: 681.4412 - mse: 681.4412
Epoch 3/20
14498/14498 [==============================] - 39s 3ms/step - loss: 664.3702 - mse: 664.3702
Epoch 4/20
14498/14498 [==============================] - 39s 3ms/step - loss: 660.8918 - mse: 660.8918
Epoch 5/20
14498/14498 [==============================] - 40s 3ms/step - loss: 652.1268 - mse: 652.1268
Epoch 6/20
14498/14498 [==============================] - 41s 3ms/step - loss: 648.0016 - mse: 648.0016
Epoch 7/20
14498/14498 [==============================] - 40s 3ms/step - loss: 643.4029 - mse: 643.4029
Epoch 8/20
14498/14498 [==============================] - 41s 3ms/step - loss: 641.8510 - mse: 641.8510
Epoch 9/20
14498/14498 [==============================] - 39s 3ms/step - loss: 642.2570 - mse: 642.2570
Epoch 10/20
14498/14498 [==============================] - 38s 3ms/step - loss: 638.4947 - mse: 638.4947
Epoch 11/20
14498/14498 [==============================] - 39s 3ms/step - loss: 636.6764 - mse: 636.6764
Epoch 12/20
14498/14498 [==============================] - 38s 3ms/step - loss: 632.1505 - mse: 632.1505
Epoch 13/20
14498/14498 [==============================] - 38s 3ms/step - loss: 636.9327 - mse: 636.9327
Epoch 14/20
14498/14498 [==============================] - 39s 3ms/step - loss: 633.0061 - mse: 633.0061
Epoch 15/20
14498/14498 [==============================] - 39s 3ms/step - loss: 629.2704 - mse: 629.2704
Epoch 16/20
14498/14498 [==============================] - 36s 2ms/step - loss: 630.0024 - mse: 630.0024
Epoch 17/20
14498/14498 [==============================] - 34s 2ms/step - loss: 628.9665 - mse: 628.9665
Epoch 18/20
14498/14498 [==============================] - 34s 2ms/step - loss: 630.5579 - mse: 630.5579
Epoch 19/20
14498/14498 [==============================] - 40s 3ms/step - loss: 628.0359 - mse: 628.0359
Epoch 20/20
14498/14498 [==============================] - 42s 3ms/step - loss: 624.7079 - mse: 624.7079

In [14]:
score5 = ann.evaluate(X1_test, y1_test)

3625/3625 [==============================] - 9s 2ms/step - loss: 594.5507 - mse: 594.5507

In [15]:
print(f"Le RMSE obtenu avec ANN pour le service de type 5 est {score5[1]**0.5}")

Le RMSE obtenu avec ANN pour le service de type 5 est 24.383410758440743

In [16]:
ann.save("models/service_type_5.h5")

C:\Users\Massamba\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

**Type 20**

In [17]:
ann = Sequential([
    Dense(units=32,activation="relu",kernel_initializer="normal"),
    Dense(units=16,activation="relu",kernel_initializer="normal"),
    Dense(units=8,activation="relu",kernel_initializer="normal"),
    Dense(units=1,activation="linear")
])

adam = tf.keras.optimizers.Adam(learning_rate=0.01)

ann.compile(optimizer=adam,loss="mean_squared_error", metrics="mse")

In [18]:
ann.fit(X2_train,y2_train,batch_size=32,epochs=20)

Epoch 1/20
7819/7819 [==============================] - 22s 3ms/step - loss: 1162.3860 - mse: 1162.3860
Epoch 2/20
7819/7819 [==============================] - 21s 3ms/step - loss: 1049.0941 - mse: 1049.0941
Epoch 3/20
7819/7819 [==============================] - 21s 3ms/step - loss: 1014.7167 - mse: 1014.7167
Epoch 4/20
7819/7819 [==============================] - 20s 3ms/step - loss: 1001.7532 - mse: 1001.7532
Epoch 5/20
7819/7819 [==============================] - 20s 3ms/step - loss: 990.5463 - mse: 990.5463
Epoch 6/20
7819/7819 [==============================] - 20s 3ms/step - loss: 983.9070 - mse: 983.9070
Epoch 7/20
7819/7819 [==============================] - 20s 3ms/step - loss: 971.2883 - mse: 971.2883
Epoch 8/20
7819/7819 [==============================] - 20s 3ms/step - loss: 972.5643 - mse: 972.5643
Epoch 9/20
7819/7819 [==============================] - 20s 3ms/step - loss: 969.3234 - mse: 969.3234
Epoch 10/20
7819/7819 [==============================] - 22s 3ms/step - loss: 963.4811 - mse: 963.4811
Epoch 11/20
7819/7819 [==============================] - 22s 3ms/step - loss: 959.3402 - mse: 959.3402
Epoch 12/20
7819/7819 [==============================] - 21s 3ms/step - loss: 959.0083 - mse: 959.0083
Epoch 13/20
7819/7819 [==============================] - 22s 3ms/step - loss: 956.4084 - mse: 956.4084
Epoch 14/20
7819/7819 [==============================] - 21s 3ms/step - loss: 954.6839 - mse: 954.6839
Epoch 15/20
7819/7819 [==============================] - 22s 3ms/step - loss: 951.7099 - mse: 951.7099
Epoch 16/20
7819/7819 [==============================] - 22s 3ms/step - loss: 947.9747 - mse: 947.9747
Epoch 17/20
7819/7819 [==============================] - 22s 3ms/step - loss: 946.8612 - mse: 946.8612
Epoch 18/20
7819/7819 [==============================] - 23s 3ms/step - loss: 944.0894 - mse: 944.0894
Epoch 19/20
7819/7819 [==============================] - 24s 3ms/step - loss: 947.1210 - mse: 947.1210
Epoch 20/20
7819/7819 [==============================] - 25s 3ms/step - loss: 944.8376 - mse: 944.8376

In [19]:
score20=ann.evaluate(X2_test, y2_test)

1955/1955 [==============================] - 6s 3ms/step - loss: 964.1425 - mse: 964.1425

In [20]:
print(f"Le RMSE obtenu avec ANN pour le service de type 20 est {score20[1]**0.5}")

Le RMSE obtenu avec ANN pour le service de type 20 est 31.05064340806302

In [20]:
ann.save("models/service_type_20.h5")

**Type 2**

In [21]:
ann = Sequential([
    Dense(units=32,activation="relu",kernel_initializer="normal"),
    Dense(units=16,activation="relu",kernel_initializer="normal"),
    Dense(units=8,activation="relu",kernel_initializer="normal"),
    Dense(units=1,activation="linear")
])

adam = tf.keras.optimizers.Adam(learning_rate=0.01)

ann.compile(optimizer=adam,loss="mean_squared_error", metrics="mse")

In [22]:
ann.fit(X3_train,y3_train,batch_size=32,epochs=20)

Epoch 1/20
6656/6656 [==============================] - 22s 3ms/step - loss: 1544.9410 - mse: 1544.9410
Epoch 2/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1340.8369 - mse: 1340.8369
Epoch 3/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1282.9648 - mse: 1282.9648
Epoch 4/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1254.6453 - mse: 1254.6453
Epoch 5/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1243.7030 - mse: 1243.7030
Epoch 6/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1235.9298 - mse: 1235.9298
Epoch 7/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1228.0486 - mse: 1228.0486
Epoch 8/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1225.2321 - mse: 1225.2321
Epoch 9/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1221.3356 - mse: 1221.3356
Epoch 10/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1216.3311 - mse: 1216.3311
Epoch 11/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1209.8718 - mse: 1209.8718
Epoch 12/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1205.1709 - mse: 1205.1709
Epoch 13/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1203.2120 - mse: 1203.2120
Epoch 14/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1195.6145 - mse: 1195.6145
Epoch 15/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1197.4598 - mse: 1197.4598
Epoch 16/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1198.2201 - mse: 1198.2201
Epoch 17/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1194.4625 - mse: 1194.4625
Epoch 18/20
6656/6656 [==============================] - 17s 3ms/step - loss: 1192.3406 - mse: 1192.3406
Epoch 19/20
6656/6656 [==============================] - 18s 3ms/step - loss: 1189.0452 - mse: 1189.0452
Epoch 20/20
6656/6656 [==============================] - 21s 3ms/step - loss: 1188.9938 - mse: 1188.9938

In [23]:
score2=ann.evaluate(X3_test, y3_test)

1664/1664 [==============================] - 4s 2ms/step - loss: 1157.4689 - mse: 1157.4689

In [24]:
print(f"Le RMSE obtenu avec ANN pour le service de type 2 est {score2[1]**0.5}")

Le RMSE obtenu avec ANN pour le service de type 2 est 34.02159420236378

In [25]:
ann.save("models/service_type_2.h5")

**Type 11**

In [26]:
ann = Sequential([
    Dense(units=32,activation="relu",kernel_initializer="normal"),
    Dense(units=16,activation="relu",kernel_initializer="normal"),
    Dense(units=8,activation="relu",kernel_initializer="normal"),
    Dense(units=1,activation="linear")
])

adam = tf.keras.optimizers.Adam(learning_rate=0.01)

ann.compile(optimizer=adam,loss="mean_squared_error", metrics="mse")

In [27]:
ann.fit(X4_train,y4_train,batch_size=32,epochs=20)

Epoch 1/20
3702/3702 [==============================] - 15s 4ms/step - loss: 986.0132 - mse: 986.0132
Epoch 2/20
3702/3702 [==============================] - 14s 4ms/step - loss: 828.1088 - mse: 828.1088
Epoch 3/20
3702/3702 [==============================] - 12s 3ms/step - loss: 812.5526 - mse: 812.5526
Epoch 4/20
3702/3702 [==============================] - 10s 3ms/step - loss: 793.8769 - mse: 793.8769
Epoch 5/20
3702/3702 [==============================] - 10s 3ms/step - loss: 780.1984 - mse: 780.1984
Epoch 6/20
3702/3702 [==============================] - 11s 3ms/step - loss: 776.1179 - mse: 776.1179
Epoch 7/20
3702/3702 [==============================] - 11s 3ms/step - loss: 760.3142 - mse: 760.3142
Epoch 8/20
3702/3702 [==============================] - 12s 3ms/step - loss: 758.2438 - mse: 758.2438
Epoch 9/20
3702/3702 [==============================] - 11s 3ms/step - loss: 751.4370 - mse: 751.4370
Epoch 10/20
3702/3702 [==============================] - 10s 3ms/step - loss: 747.5977 - mse: 747.5977
Epoch 11/20
3702/3702 [==============================] - 11s 3ms/step - loss: 742.3148 - mse: 742.3148
Epoch 12/20
3702/3702 [==============================] - 10s 3ms/step - loss: 735.9631 - mse: 735.9631
Epoch 13/20
3702/3702 [==============================] - 11s 3ms/step - loss: 728.3000 - mse: 728.3000
Epoch 14/20
3702/3702 [==============================] - 11s 3ms/step - loss: 727.5033 - mse: 727.5033
Epoch 15/20
3702/3702 [==============================] - 11s 3ms/step - loss: 723.1284 - mse: 723.1284
Epoch 16/20
3702/3702 [==============================] - 10s 3ms/step - loss: 723.7409 - mse: 723.7409
Epoch 17/20
3702/3702 [==============================] - 11s 3ms/step - loss: 718.6819 - mse: 718.6819
Epoch 18/20
3702/3702 [==============================] - 11s 3ms/step - loss: 717.0871 - mse: 717.0871
Epoch 19/20
3702/3702 [==============================] - 11s 3ms/step - loss: 712.5883 - mse: 712.5883
Epoch 20/20
3702/3702 [==============================] - 10s 3ms/step - loss: 714.8467 - mse: 714.8467

In [28]:
score11=ann.evaluate(X4_test, y4_test)

926/926 [==============================] - 2s 2ms/step - loss: 773.4893 - mse: 773.4893

In [29]:
print(f"Le RMSE obtenu avec ANN pour le service de type 11 est {score11[1]**0.5}")

Le RMSE obtenu avec ANN pour le service de type 11 est 27.811674847310076

In [30]:
ann.save("models/service_type_11.h5")

**Type 9**

In [31]:
ann = Sequential([
    Dense(units=32,activation="relu",kernel_initializer="normal"),
    Dense(units=16,activation="relu",kernel_initializer="normal"),
    Dense(units=8,activation="relu",kernel_initializer="normal"),
    Dense(units=1,activation="linear")
])

adam = tf.keras.optimizers.Adam(learning_rate=0.01)

ann.compile(optimizer=adam,loss="mean_squared_error", metrics="mse")

In [32]:
ann.fit(X5_train,y5_train,batch_size=32,epochs=20)

Epoch 1/20
1615/1615 [==============================] - 5s 3ms/step - loss: 1599.3818 - mse: 1599.3818
Epoch 2/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1444.0708 - mse: 1444.0708
Epoch 3/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1414.8021 - mse: 1414.8021
Epoch 4/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1372.6879 - mse: 1372.6879
Epoch 5/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1346.3817 - mse: 1346.3817
Epoch 6/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1332.3955 - mse: 1332.3955
Epoch 7/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1319.5823 - mse: 1319.5823
Epoch 8/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1306.8307 - mse: 1306.8307
Epoch 9/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1297.6462 - mse: 1297.6462
Epoch 10/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1295.0973 - mse: 1295.0973
Epoch 11/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1286.5358 - mse: 1286.5358
Epoch 12/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1285.2109 - mse: 1285.2109
Epoch 13/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1273.3555 - mse: 1273.3555
Epoch 14/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1265.9307 - mse: 1265.9307
Epoch 15/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1269.7493 - mse: 1269.7493
Epoch 16/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1258.1716 - mse: 1258.1716
Epoch 17/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1263.1052 - mse: 1263.1052
Epoch 18/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1254.6115 - mse: 1254.6115
Epoch 19/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1255.0640 - mse: 1255.0640
Epoch 20/20
1615/1615 [==============================] - 4s 3ms/step - loss: 1248.4398 - mse: 1248.4398

In [33]:
score9=ann.evaluate(X5_test, y5_test)

404/404 [==============================] - 1s 2ms/step - loss: 1199.9482 - mse: 1199.9482

In [34]:
print(f"Le RMSE obtenu avec ANN pour le service de type 9 est {score9[1]**0.5}")

Le RMSE obtenu avec ANN pour le service de type 9 est 34.64026908364743

In [35]:
ann.save("models/service_type_9.h5")

In [37]:
scores = {
    "2": score2[1]**0.5,
    "5": score5[1]**0.5,
    "9": score9[1]**0.5,
    "11": score11[1]**0.5,
    "20": score20[1]**0.5
}

**Résultats finaux**

In [38]:
for group, subset_df in grouped_df:
    print(f"Pour le service {group}, le RMSE pour l'ANN est {scores[str(group)]}\n")

Pour le service 2, le RMSE pour l'ANN est 34.02159420236378

Pour le service 5, le RMSE pour l'ANN est 24.383410758440743

Pour le service 9, le RMSE pour l'ANN est 34.64026908364743

Pour le service 11, le RMSE pour l'ANN est 27.811674847310076

Pour le service 20, le RMSE pour l'ANN est 31.05064340806302